//@import 'base';
body{
    background-color:#f0f5f5;
    a{
        text-decoration: none;
       color:inherit;
    }
    ul{
        list-style:none;
    }
    font-family: 'EB Garamond', serif;
    font-size:20px;
}

//Top-header
nav{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
}
.navMenu{
    font-size:$mainTitleSize;
    font-family: $titleFont;   
    font-weight: bold; 
    display: flex;
    li{
        padding:5px 15px;
    }
}
.logo{
    background-image: url(../images/logo.jpg);
    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cart{
    display: flex;
    align-items: center;
    i{
        padding: 5px 15px;
        color:red;
    }
    span{
        font-size:$mainTitleSize;
        font-weight: bold;
    }
}

//Bottom-Footer
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    bottom: 0;
    display:flex;
    justify-content: space-around;
    background-color:#222;
    li{
        color: grey;
        padding:10px 10px;
    }
    li:first-child { 
        color:#fff;
      }
      input{
          padding: 10px 40px;
          font-size:16px;
      }
      input:focus { 
        outline: none;
      }
      button{
          padding: 13px 20px;
          margin-left: 10px;
          background-color: #007a99;
          border: none;
      }
      button:focus { 
        outline: none;
      }
    //   h5{
    //     font-size:$mainTextSize;
    //   }
}
.newsletter{
    color:#fff;
    width:50%;
}
.socialIcon li{
  text-align: center;
  margin-top:10px;
  height:30px;
  width: 30px;
  border:1px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.socialIcon i{
  color:#222;
}

//MainWrapper

.mainWrapperContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    div{
        background-color: #f1f1f1;
        width: 100px;
        height: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;    
    }
}

